n8n/payment-confirm-workflow.json
{
  "name": "입금확인 → 자동회원가입 + SMS",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nonghyup-deposit",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Nonghyup Deposit Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://junseonghwang.com/api/webhook/payment-confirm",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "5f5366838ff98aa9a1946dfafb66915d49eda9670a3ad8d8c94d4d24f472dbc3"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ phone: $json.phone || $json.sender_phone || '', depositor_name: $json.depositor_name || $json.sender_name || $json.name || '', amount: $json.amount || $json.deposit_amount || 0, email: $json.email || '' }) }}",
        "options": {}
      },
      "id": "http-request",
      "name": "홈페이지 자동가입 API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-new-user",
              "leftValue": "={{ $json.is_new_user }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-new-user",
      "name": "신규 회원?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst apiKey = 'NCSXADOHZXIOWSXG';\nconst apiSecret = 'E6SA8I6NCT04MKTQN8TX0Y4SSGHEJMGR';\n\nconst date = new Date().toISOString();\nconst salt = crypto.randomBytes(32).toString('hex');\nconst hmac = crypto.createHmac('sha256', apiSecret);\nhmac.update(date + salt);\nconst signature = hmac.digest('hex');\nconst authHeader = 'HMAC-SHA256 apiKey=' + apiKey + ', date=' + date + ', salt=' + salt + ', signature=' + signature;\n\nreturn [{\n  json: {\n    ...$json,\n    auth_header: authHeader\n  }\n}];"
      },
      "id": "hmac-auth-payment",
      "name": "HMAC Auth",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.solapi.com/messages/v4/send",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $json.auth_header }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": {\n    \"to\": \"{{ $json.user_phone.replace(/[-\\\\s]/g, '') }}\",\n    \"from\": \"07079548182\",\n    \"text\": \"[에니어그램 요가] {{ $json.user_name }}님, 회원가입이 완료되었습니다.\\\\n\\\\n로그인: https://junseonghwang.com/login\\\\n임시비밀번호: {{ $json.temp_password }}\\\\n\\\\n마이페이지에서 비밀번호를 변경해주세요.\",\n    \"type\": \"LMS\"\n  }\n}",
        "options": {}
      },
      "id": "solapi-sms",
      "name": "Solapi SMS 발송",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1220, 200]
    },
    {
      "parameters": {},
      "id": "no-op",
      "name": "기존 회원 (SMS 불필요)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1220, 400]
    }
  ],
  "connections": {
    "Nonghyup Deposit Webhook": {
      "main": [
        [
          {
            "node": "홈페이지 자동가입 API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "홈페이지 자동가입 API": {
      "main": [
        [
          {
            "node": "신규 회원?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "신규 회원?": {
      "main": [
        [
          {
            "node": "HMAC Auth",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "기존 회원 (SMS 불필요)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HMAC Auth": {
      "main": [
        [
          {
            "node": "Solapi SMS 발송",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
