n8n/updated_workflow.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nhdeposit",
        "options": {}
      },
      "id": "3eb36521-cda7-400f-a7a8-45c4eb929c32",
      "name": "Nonghyup Deposit",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        64,
        -576
      ],
      "webhookId": "nhdeposit"
    },
    {
      "parameters": {
        "jsCode": "const body = $json[\"body\"] || {};\nlet raw = $json[\"text\"] || $json[\"message\"] || \"\";\n\nif (!raw && body[\"\"] !== undefined) {\n  raw = body[\"\"];\n}\n\nif (!raw) {\n  const bodyKeys = Object.keys(body);\n  for (const key of bodyKeys) {\n    if (key !== \"webhookUrl\" && key !== \"executionMode\" && key !== \"\") {\n      raw = key;\n      break;\n    }\n  }\n}\n\nconst lines = raw.split(\"\\n\").map(l => l.trim()).filter(l => l);\n\nlet type = \"\";\nlet amount = \"\";\nconst line2 = lines[1] || \"\";\nconst typeMatch = line2.match(/(입금|출금)\\s*([\\d,]+)원/);\nif (typeMatch) {\n  type = typeMatch[1];\n  amount = typeMatch[1] === \"입금\" ? typeMatch[2].replace(/,/g, \"\") : \"\";\n}\nconst withdrawAmount = typeMatch && typeMatch[1] === \"출금\" ? typeMatch[2].replace(/,/g, \"\") : \"\";\n\nconst line3 = lines[2] || \"\";\nconst dateTimeMatch = line3.match(/(\\d{2})\\/(\\d{2})\\s+(\\d{2}:\\d{2})/);\nconst date = dateTimeMatch ? dateTimeMatch[1] + \"/\" + dateTimeMatch[2] : \"\";\nconst time = dateTimeMatch ? dateTimeMatch[3] : \"\";\nconst year = new Date().getFullYear();\n\nconst nameMatch = line3.match(/\\d{2}:\\d{2}\\s+[\\d*\\-]+\\s+(.+?)\\s*잔액/);\nconst name = nameMatch ? nameMatch[1].trim() : \"\";\n\nconst balanceMatch = line3.match(/잔액([\\d,]+)원/);\nconst balance = balanceMatch ? balanceMatch[1].replace(/,/g, \"\") : \"\";\n\nfunction formatWon(val) {\n  if (!val) return \"\";\n  return Number(val).toLocaleString(\"ko-KR\") + \"원\";\n}\n\nreturn [\n  {\n    json: {\n      날짜: `${year}/${date}`,\n      시간: time,\n      거래유형: type,\n      입금액: amount,\n      출금액: withdrawAmount,\n      입금자명: name,\n      잔액: balance,\n      입금액_표시: formatWon(amount),\n      출금액_표시: formatWon(withdrawAmount),\n      잔액_표시: formatWon(balance)\n    }\n  }\n];"
      },
      "id": "13e34a67-fca0-4cec-a72f-3c2ac72fb731",
      "name": "Message Parsing",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        -576
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "condition-deposit-type",
              "leftValue": "={{ $json[\"거래유형\"] }}",
              "rightValue": "입금",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-deposit-check",
      "name": "입금 확인",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        488,
        -576
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1I-5gG-wp1EzWW0dT7xC2Rc08nIkrRa0eSo-ET6-Fkr4",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1I-5gG-wp1EzWW0dT7xC2Rc08nIkrRa0eSo-ET6-Fkr4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "nonghyup",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1I-5gG-wp1EzWW0dT7xC2Rc08nIkrRa0eSo-ET6-Fkr4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "날짜": "="
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "날짜",
              "displayName": "날짜",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "입금액",
              "displayName": "입금액",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "입금자명",
              "displayName": "입금자명",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "48ffd6f1-7ffc-4c4c-b61e-95ea13439ec0",
      "name": "NH Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        712,
        -576
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Dbki7l9XawU6h34B",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://discord.com/api/webhooks/1470651597640962138/dFDBwRlV7FfFBO0x-VJB2Vk_kJPAjy2QCGVd3msIcrwXd_X3WEKyZPvHCF1ij1TisFv9",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"content\": \"# 데일리 요가 입금내역\\n- 날짜: {{ $json.날짜 }}\\n- 시간: {{ $json.시간 }}\\n- 거래유형: {{ $json.거래유형 }}\\n- 입금액: {{ $json.입금액_표시 }}\\n- 출금액: {{ $json.출금액_표시 }}\\n- 입금자명: {{ $json.입금자명 }}\\n- 잔액: {{ $json.잔액_표시 }}\"}",
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Discord Webhook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        712,
        -400
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1I-5gG-wp1EzWW0dT7xC2Rc08nIkrRa0eSo-ET6-Fkr4",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "homepage",
          "mode": "name"
        },
        "options": {}
      },
      "id": "b1a2c3d4-e5f6-7890-abcd-homepage-read",
      "name": "Read Homepage",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        936,
        -576
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Dbki7l9XawU6h34B",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const deposit = $('NH Google Sheets').first().json;\nconst depositName = (deposit[\"입금자명\"] || \"\").trim();\nconst depositDate = deposit[\"날짜\"] || \"\";\nconst depositTime = deposit[\"시간\"] || \"\";\nconst depositAmount = deposit[\"입금액_표시\"] || deposit[\"입금액\"] || \"\";\n\nconst dParts = depositDate.split(\"/\");\nconst depositDateStr = dParts.length === 3\n  ? `${dParts[0]}-${dParts[1]}-${dParts[2]}T${depositTime}:00`\n  : \"\";\nconst depositDT = depositDateStr ? new Date(depositDateStr) : null;\n\nconst homepageRows = $('Read Homepage').all();\n\nconst matchedRows = [];\nfor (const item of homepageRows) {\n  const row = item.json;\n  const hpName = (row[\"이름\"] || \"\").trim();\n  const hpDatetime = (row[\"신청일시\"] || \"\").trim();\n\n  if (hpName !== depositName) continue;\n  if (row[\"입금확인\"] === \"O\") continue;\n  if (!depositDT || !hpDatetime) continue;\n\n  const hpDT = new Date(hpDatetime.replace(\" \", \"T\"));\n  const diffMs = Math.abs(depositDT.getTime() - hpDT.getTime());\n  const diffHours = diffMs / (1000 * 60 * 60);\n\n  if (diffHours <= 48) {\n    let phone = String(row[\"연락처\"] || \"\").replace(/[^0-9]/g, \"\");\n    if (phone && !phone.startsWith(\"0\")) {\n      phone = \"0\" + phone;\n    }\n\n    matchedRows.push({\n      json: {\n        matched: true,\n        신청일시: row[\"신청일시\"],\n        이름: row[\"이름\"],\n        연락처: phone,\n        이메일: row[\"이메일\"] || \"\",\n        입금확인: \"O\"\n      }\n    });\n  }\n}\n\nif (matchedRows.length === 0) {\n  return [{\n    json: {\n      matched: false,\n      입금자명: depositName,\n      입금액: depositAmount,\n      날짜: depositDate,\n      시간: depositTime\n    }\n  }];\n}\n\nreturn matchedRows;"
      },
      "id": "c1d2e3f4-5678-90ab-cdef-deposit-match",
      "name": "Deposit Matching",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1160,
        -576
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "condition-match-found",
              "leftValue": "={{ $json.matched }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-match-found",
      "name": "매칭 확인",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1384,
        -576
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://discord.com/api/webhooks/1470651597640962138/dFDBwRlV7FfFBO0x-VJB2Vk_kJPAjy2QCGVd3msIcrwXd_X3WEKyZPvHCF1ij1TisFv9",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"content\": \"⚠️ **입금 매칭 실패**\\n- 입금자: {{ $json.입금자명 }}\\n- 금액: {{ $json.입금액 }}\\n- 날짜/시간: {{ $json.날짜 }} {{ $json.시간 }}\\n\\nhomepage 시트에서 매칭되는 신청자를 찾을 수 없습니다.\\n수동 확인이 필요합니다.\"}",
        "options": {}
      },
      "id": "discord-no-match",
      "name": "Discord No Match",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1384,
        -350
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://junseonghwang.com/api/webhook/payment-confirm",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "5f5366838ff98aa9a1946dfafb66915d49eda9670a3ad8d8c94d4d24f472dbc3"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ depositor_name: $json[\"이름\"], phone: $json[\"연락처\"], email: $json[\"이메일\"], amount: Number($('NH Google Sheets').first().json[\"입금액\"] || 99000) }) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "web-auto-reg",
      "name": "홈페이지 자동가입",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1608,
        -576
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1I-5gG-wp1EzWW0dT7xC2Rc08nIkrRa0eSo-ET6-Fkr4",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "homepage",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "신청일시": "={{ $json.신청일시 }}",
            "이름": "={{ $json.이름 }}",
            "입금확인": "={{ $json.입금확인 }}",
            "연락처": "={{ $json.연락처 }}"
          },
          "matchingColumns": [
            "신청일시",
            "이름"
          ],
          "schema": [
            {
              "id": "신청일시",
              "displayName": "신청일시",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "이름",
              "displayName": "이름",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "연락처",
              "displayName": "연락처",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "이메일",
              "displayName": "이메일",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "입금확인",
              "displayName": "입금확인",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "e1f2a3b4-5678-90ab-cdef-update-homepage",
      "name": "Update Homepage",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1832,
        -576
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Dbki7l9XawU6h34B",
          "name": "Google Sheets account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const matched = $('Deposit Matching').first().json;\nconst deposit = $('NH Google Sheets').first().json;\n\n// 홈페이지 자동가입 결과 가져오기\nlet autoRegResult = {};\ntry {\n  autoRegResult = $('홈페이지 자동가입').first().json || {};\n} catch(e) {\n  autoRegResult = {};\n}\nconst tempPassword = autoRegResult.temp_password || \"\";\nconst isNewUser = autoRegResult.is_new_user || false;\nconst isUnderpaid = autoRegResult.status === \"underpaid\";\nconst shortage = autoRegResult.shortage || 0;\nconst paidAmount = autoRegResult.paid_amount || 0;\n\nlet phone = String(matched.연락처 || \"\").trim();\nif (!phone.startsWith(\"0\") && phone.length === 10) {\n  phone = \"0\" + phone;\n}\nphone = phone.replace(/[^0-9]/g, \"\");\n\nconst name = matched.이름 || \"\";\nconst email = matched.이메일 || \"\";\nconst amount = deposit.입금액_표시 || deposit.입금액 || \"\";\n\nconst date = new Date().toISOString();\nconst salt = Date.now().toString(36) + Math.random().toString(36).substring(2, 14);\nconst signData = date + salt;\n\n// Solapi API credentials\nconst API_KEY = 'NCSXADOHZXIOWSXG';\nconst API_SECRET = 'E6SA8I6NCT04MKTQN8TX0Y4SSGHEJMGR';\nconst authHeader = 'HMAC-SHA256 apiKey=' + API_KEY + ', date=' + date + ', salt=' + salt + ', signature=';\n\n// SMS 내용: underpaid / 신규회원 / 기존회원 분기\nlet smsText = \"\";\nif (isUnderpaid) {\n  smsText = `${name}님,\n[데일리 요가 클래스]\n${amount} 입금이 확인되었습니다.\n\n이용권 금액(99,000원)에\n${shortage.toLocaleString()}원이 부족합니다.\n\n24시간 이내에 차액을 아래 계좌로\n추가 입금해주시면\n이용권이 자동으로 활성화됩니다.\n\n▶ 농협 312-0025-5524-11\n▶ 예금주: 황준성\n\n문의: 070-7954-8182`;\n} else if (isNewUser && tempPassword) {\n  smsText = `${name}님,\n[데일리 요가 클래스] 비용\n${amount} 입금이 정상적으로\n확인되었습니다.\n\n회원가입이 완료되었습니다!\n\n▶ 로그인: https://junseonghwang.com/login\n▶ 임시비밀번호: ${tempPassword}\n\n마이페이지에서 비밀번호를 변경해주세요.\n\n▶ 수업 시간: 평일 오전 9:30 / 오후 6:30 (60분)\n▶ 준비물 안내:\n  - 요가매트: 안정적인 자세 유지를 위해\n  - 요가블럭: 유연성이 부족할 때 동작을 보조\n  - 요가밴드/스트랩: 스트레칭 범위를 넓혀줌\n  - 편안한 옷: 움직임에 방해되지 않는 복장\n  (모두 필수는 아니며, 움직임의 불편함을\n   줄이기 위한 도구입니다.\n   없어도 수업 참여에 지장은 없습니다.)\n\n* Zoom 링크: https://us06web.zoom.us/j/87426930070?pwd=FFf88PQ1ZeyP8MJ1gCMqW6oaB35qqZ.1\n* Zoom 암호: yoga\n\n⚠ 중요: ZOOM 앱에 반드시 데일리 요가 클래스를 신청할 때 사용한 이메일 주소와 동일한 이메일로 로그인해주세요. 이메일이 다르면 출석체크가 정상적으로 이뤄지지 않습니다.`;\n} else {\n  smsText = `${name}님, 다시 뵙게 되어 반갑습니다!\n새로운 이용권이 발급되었습니다.\n\n지난번과 달라진 자신의 몸을 발견하는 것도\n다시 시작하는 즐거움 중 하나일 거예요.\n\n▶ 수업 시간: 평일 오전 9:30 / 오후 6:30 (60분)\n\n* Zoom 링크: https://us06web.zoom.us/j/87426930070?pwd=FFf88PQ1ZeyP8MJ1gCMqW6oaB35qqZ.1\n* Zoom 암호: yoga\n\n⚠ 중요: ZOOM 앱에 반드시 데일리 요가 클래스를 신청할 때 사용한 이메일 주소와 동일한 이메일로 로그인해주세요. 이메일이 다르면 출석체크가 정상적으로 이뤄지지 않습니다.`;\n}\n\n// Pre-build the complete SMS JSON body\nconst smsJsonBody = JSON.stringify({\n  message: {\n    to: phone,\n    from: \"07079548182\",\n    text: smsText\n  }\n});\n\n// Pre-build the complete Email JSON body\nlet emailHtml = \"\";\nlet emailSubject = \"\";\nif (isUnderpaid) {\n  emailSubject = \"[데일리 요가 클래스] 입금 부족 안내\";\n  emailHtml = `<div style=\"font-family: sans-serif; max-width: 600px; margin: 0 auto; line-height: 1.8;\"><p><strong>${name}</strong>님,<br>[데일리 요가 클래스]<br>${amount} 입금이 확인되었습니다.</p><p>이용권 금액(99,000원)에 <strong>${shortage.toLocaleString()}원</strong>이 부족합니다.</p><p>24시간 이내에 차액을 아래 계좌로 추가 입금해주시면<br>이용권이 자동으로 활성화됩니다.</p><ul style=\"list-style: none; padding-left: 0;\"><li>▶ 농협 312-0025-5524-11</li><li>▶ 예금주: 황준성</li></ul><p>문의: 070-7954-8182</p></div>`;\n} else if (isNewUser && tempPassword) {\n  emailSubject = \"[데일리 요가 클래스] 회원가입 완료 및 참여 안내\";\n  emailHtml = `<div style=\"font-family: sans-serif; max-width: 600px; margin: 0 auto; line-height: 1.8;\"><p><strong>${name}</strong>님,<br>[데일리 요가 클래스] 비용<br>${amount} 입금이 정상적으로<br>확인되었습니다.</p><p>회원가입이 완료되었습니다!</p><ul style=\"list-style: none; padding-left: 0;\"><li>▶ 로그인: <a href=\"https://junseonghwang.com/login\">https://junseonghwang.com/login</a></li><li>▶ 임시비밀번호: <strong>${tempPassword}</strong></li><li>마이페이지에서 비밀번호를 변경해주세요.</li></ul><hr><h3 style=\"margin-top:24px;\">수업 안내</h3><ul style=\"list-style: none; padding-left: 0;\"><li>▶ 수업 시간: 평일 오전 9:30 / 오후 6:30 (60분)</li></ul><h3 style=\"margin-top:16px;\">준비물 안내</h3><ul style=\"padding-left: 20px;\"><li><strong>요가매트</strong> — 안정적인 자세 유지를 위해</li><li><strong>요가블럭</strong> — 유연성이 부족할 때 동작을 보조</li><li><strong>요가밴드/스트랩</strong> — 스트레칭 범위를 넓혀줌</li><li><strong>편안한 옷</strong> — 움직임에 방해되지 않는 복장</li></ul><p style=\"color:#666; font-size:14px;\">모두 필수는 아니며, 움직임의 불편함을 줄이기 위한 도구입니다. 없어도 수업 참여에 지장은 없습니다.</p><hr><ul style=\"list-style: none; padding-left: 0;\"><li>* Zoom 링크: <a href=\"https://us06web.zoom.us/j/87426930070?pwd=FFf88PQ1ZeyP8MJ1gCMqW6oaB35qqZ.1\">참여하기</a></li><li>* Zoom 암호: yoga</li></ul><p style=\"color: #d32f2f; font-weight: bold;\">⚠ 중요: ZOOM 앱에 반드시 데일리 요가 클래스를 신청할 때 사용한 이메일 주소와 동일한 이메일로 로그인해주세요. 이메일이 다르면 출석체크가 정상적으로 이뤄지지 않습니다.</p></div>`;\n} else {\n  emailSubject = \"[데일리 요가 클래스] 다시 오신 것을 환영합니다\";\n  emailHtml = `<div style=\"font-family: sans-serif; max-width: 600px; margin: 0 auto; line-height: 1.8;\"><p><strong>${name}</strong>님, 다시 뵙게 되어 반갑습니다!</p><p>새로운 이용권이 발급되었습니다.</p><p>지난번과 달라진 자신의 몸을 발견하는 것도<br>다시 시작하는 즐거움 중 하나일 거예요.</p><ul style=\"list-style: none; padding-left: 0;\"><li>▶ 수업 시간: 평일 오전 9:30 / 오후 6:30 (60분)</li></ul><hr><ul style=\"list-style: none; padding-left: 0;\"><li>* Zoom 링크: <a href=\"https://us06web.zoom.us/j/87426930070?pwd=FFf88PQ1ZeyP8MJ1gCMqW6oaB35qqZ.1\">참여하기</a></li><li>* Zoom 암호: yoga</li></ul><p style=\"color: #d32f2f; font-weight: bold;\">⚠ 중요: ZOOM 앱에 반드시 데일리 요가 클래스를 신청할 때 사용한 이메일 주소와 동일한 이메일로 로그인해주세요. 이메일이 다르면 출석체크가 정상적으로 이뤄지지 않습니다.</p></div>`;\n}\n\nconst emailJsonBody = JSON.stringify({\n  from: \"황준성 <junseong@junseonghwang.com>\",\n  to: email,\n  subject: emailSubject,\n  html: emailHtml\n});\n\nreturn [{\n  json: {\n    신청일시: matched.신청일시,\n    이름: name,\n    연락처: matched.연락처,\n    이메일: email,\n    phone: phone,\n    smsText: smsText,\n    입금액_표시: amount,\n    authDate: date,\n    authSalt: salt,\n    signData: signData,\n    authHeader: authHeader,\n    smsJsonBody: smsJsonBody,\n    emailJsonBody: emailJsonBody,\n    temp_password: tempPassword,\n    is_new_user: isNewUser,\n    is_underpaid: isUnderpaid,\n    shortage: shortage,\n    paid_amount: paidAmount\n  }\n}];"
      },
      "id": "f1a2b3c4-prep-sms-node",
      "name": "Prepare SMS Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2056,
        -576
      ]
    },
    {
      "parameters": {
        "action": "hmac",
        "type": "SHA256",
        "value": "={{ $json.signData }}",
        "secret": "E6SA8I6NCT04MKTQN8TX0Y4SSGHEJMGR",
        "encoding": "hex",
        "dataPropertyName": "signature"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        2280,
        -576
      ],
      "id": "g1h2i3j4-crypto-hmac",
      "name": "HMAC Signature"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.solapi.com/messages/v4/send-many",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('Prepare SMS Data').first().json.authHeader + $('HMAC Signature').first().json.signature }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ messages: [{ to: $json.phone, from: '07079548182', text: $json.smsText, type: 'LMS' }] }) }}",
        "options": {}
      },
      "id": "h1i2j3k4-send-sms-node",
      "name": "Send SMS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2504,
        -676
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "condition-sms-success",
              "leftValue": "={{ $json.groupId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-sms-success",
      "name": "SMS 결과 확인",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2728,
        -676
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1I-5gG-wp1EzWW0dT7xC2Rc08nIkrRa0eSo-ET6-Fkr4",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "homepage",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "신청일시": "={{ $('Prepare SMS Data').first().json.신청일시 }}",
            "이름": "={{ $('Prepare SMS Data').first().json.이름 }}",
            "문자발송": "O"
          },
          "matchingColumns": [
            "신청일시",
            "이름"
          ],
          "schema": [
            {
              "id": "신청일시",
              "displayName": "신청일시",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "이름",
              "displayName": "이름",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "문자발송",
              "displayName": "문자발송",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "i1j2k3l4-update-sms-col",
      "name": "Update SMS Column",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2952,
        -676
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Dbki7l9XawU6h34B",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://discord.com/api/webhooks/1470651597640962138/dFDBwRlV7FfFBO0x-VJB2Vk_kJPAjy2QCGVd3msIcrwXd_X3WEKyZPvHCF1ij1TisFv9",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"content\": \"❌ **SMS 발송 실패**\\n- 이름: {{ $('Prepare SMS Data').first().json.이름 }}\\n- 전화번호: {{ $('Prepare SMS Data').first().json.phone }}\\n- 에러: {{ JSON.stringify($json).substring(0, 200) }}\"}",
        "options": {}
      },
      "id": "discord-sms-fail",
      "name": "Discord SMS Fail",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2952,
        -776
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer re_RfLPds6p_GxskQTJaTUCpn4HHengcj64y"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('Prepare SMS Data').first().json.emailJsonBody }}",
        "options": {}
      },
      "id": "k1l2m3n4-send-email-node",
      "name": "Send Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2504,
        -476
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "condition-email-success",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-email-success",
      "name": "이메일 결과 확인",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2728,
        -476
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1I-5gG-wp1EzWW0dT7xC2Rc08nIkrRa0eSo-ET6-Fkr4",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "homepage",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "신청일시": "={{ $('Prepare SMS Data').first().json.신청일시 }}",
            "이름": "={{ $('Prepare SMS Data').first().json.이름 }}",
            "이메일발송": "O"
          },
          "matchingColumns": [
            "신청일시",
            "이름"
          ],
          "schema": [
            {
              "id": "신청일시",
              "displayName": "신청일시",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "이름",
              "displayName": "이름",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "이메일발송",
              "displayName": "이메일발송",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "l1m2n3o4-update-email-col",
      "name": "Update Email Column",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2952,
        -476
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Dbki7l9XawU6h34B",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://discord.com/api/webhooks/1470651597640962138/dFDBwRlV7FfFBO0x-VJB2Vk_kJPAjy2QCGVd3msIcrwXd_X3WEKyZPvHCF1ij1TisFv9",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"content\": \"❌ **이메일 발송 실패**\\n- 이름: {{ $('Prepare SMS Data').first().json.이름 }}\\n- 이메일: {{ $('Prepare SMS Data').first().json.이메일 }}\\n- 에러: {{ JSON.stringify($json).substring(0, 200) }}\"}",
        "options": {}
      },
      "id": "discord-email-fail",
      "name": "Discord Email Fail",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2952,
        -376
      ]
    },
    {
      "parameters": {
        "jsCode": "// Pure JS SHA-256 + HMAC (no require, no fetch, no crypto)\nconst K = [\n  0x428a2f98,0x71374491,0xb5c0fbcf,0xe9b5dba5,0x3956c25b,0x59f111f1,0x923f82a4,0xab1c5ed5,\n  0xd807aa98,0x12835b01,0x243185be,0x550c7dc3,0x72be5d74,0x80deb1fe,0x9bdc06a7,0xc19bf174,\n  0xe49b69c1,0xefbe4786,0x0fc19dc6,0x240ca1cc,0x2de92c6f,0x4a7484aa,0x5cb0a9dc,0x76f988da,\n  0x983e5152,0xa831c66d,0xb00327c8,0xbf597fc7,0xc6e00bf3,0xd5a79147,0x06ca6351,0x14292967,\n  0x27b70a85,0x2e1b2138,0x4d2c6dfc,0x53380d13,0x650a7354,0x766a0abb,0x81c2c92e,0x92722c85,\n  0xa2bfe8a1,0xa81a664b,0xc24b8b70,0xc76c51a3,0xd192e819,0xd6990624,0xf40e3585,0x106aa070,\n  0x19a4c116,0x1e376c08,0x2748774c,0x34b0bcb5,0x391c0cb3,0x4ed8aa4a,0x5b9cca4f,0x682e6ff3,\n  0x748f82ee,0x78a5636f,0x84c87814,0x8cc70208,0x90befffa,0xa4506ceb,0xbef9a3f7,0xc67178f2\n];\nfunction rotr(x,n){return((x>>>n)|(x<<(32-n)))>>>0;}\nfunction sha256(msg){\n  const len=msg.length,bl=len*8,nb=Math.ceil((len+9)/64),tl=nb*64;\n  const p=new Uint8Array(tl);p.set(msg);p[len]=0x80;\n  const dv=new DataView(p.buffer);dv.setUint32(tl-4,bl,false);\n  let h0=0x6a09e667,h1=0xbb67ae85,h2=0x3c6ef372,h3=0xa54ff53a;\n  let h4=0x510e527f,h5=0x9b05688c,h6=0x1f83d9ab,h7=0x5be0cd19;\n  const w=new Int32Array(64);\n  for(let b=0;b<tl;b+=64){\n    for(let i=0;i<16;i++)w[i]=dv.getInt32(b+i*4,false);\n    for(let i=16;i<64;i++){\n      const s0=rotr(w[i-15],7)^rotr(w[i-15],18)^(w[i-15]>>>3);\n      const s1=rotr(w[i-2],17)^rotr(w[i-2],19)^(w[i-2]>>>10);\n      w[i]=(w[i-16]+s0+w[i-7]+s1)|0;\n    }\n    let a=h0,b2=h1,c=h2,d=h3,e=h4,f=h5,g=h6,h=h7;\n    for(let i=0;i<64;i++){\n      const S1=rotr(e,6)^rotr(e,11)^rotr(e,25);\n      const ch=(e&f)^(~e&g);\n      const t1=(h+S1+ch+K[i]+w[i])|0;\n      const S0=rotr(a,2)^rotr(a,13)^rotr(a,22);\n      const maj=(a&b2)^(a&c)^(b2&c);\n      const t2=(S0+maj)|0;\n      h=g;g=f;f=e;e=(d+t1)|0;d=c;c=b2;b2=a;a=(t1+t2)|0;\n    }\n    h0=(h0+a)|0;h1=(h1+b2)|0;h2=(h2+c)|0;h3=(h3+d)|0;\n    h4=(h4+e)|0;h5=(h5+f)|0;h6=(h6+g)|0;h7=(h7+h)|0;\n  }\n  const r=new Uint8Array(32),rv=new DataView(r.buffer);\n  rv.setUint32(0,h0,false);rv.setUint32(4,h1,false);\n  rv.setUint32(8,h2,false);rv.setUint32(12,h3,false);\n  rv.setUint32(16,h4,false);rv.setUint32(20,h5,false);\n  rv.setUint32(24,h6,false);rv.setUint32(28,h7,false);\n  return r;\n}\nfunction hmacSha256(key,msg){\n  if(key.length>64)key=sha256(key);\n  const pk=new Uint8Array(64);pk.set(key);\n  const ip=new Uint8Array(64),op=new Uint8Array(64);\n  for(let i=0;i<64;i++){ip[i]=pk[i]^0x36;op[i]=pk[i]^0x5c;}\n  const inn=new Uint8Array(64+msg.length);inn.set(ip);inn.set(msg,64);\n  const ih=sha256(inn);\n  const out=new Uint8Array(64+32);out.set(op);out.set(ih,64);\n  return sha256(out);\n}\nfunction u8b64(a){let s='';for(let i=0;i<a.length;i++)s+=String.fromCharCode(a[i]);return btoa(s);}\nfunction b64u8(b){const s=atob(b);const a=new Uint8Array(s.length);for(let i=0;i<s.length;i++)a[i]=s.charCodeAt(i);return a;}\nfunction s2u8(s){return new TextEncoder().encode(s);}\n\n// Config\nconst LinkID = 'ENNEAGRAM';\nconst SecretKey = 'q52EkWadYGB1H6FghRyzWxW7u1jbNwHk74+k48vprag=';\nconst CorpNum = '6660203422';\nconst ServiceID = 'POPBILL';\nconst AuthURL = 'https://auth.linkhub.co.kr';\nconst ApiBase = 'https://popbill.linkhub.co.kr';\n\n// Upstream data\nconst matched = $('Deposit Matching').first().json;\nconst deposit = $('NH Google Sheets').first().json;\n\n// underpaid/overpaid 정보 전달\nconst smsData = $('Prepare SMS Data').first().json;\nconst isUnderpaid = smsData.is_underpaid || false;\nconst paidAmount = smsData.paid_amount || 0;\n\n// Token request body\nconst bodyObj = {access_id: CorpNum, scope: ['member', '140']};\nconst bodyJson = JSON.stringify(bodyObj);\nconst timestamp = new Date().toISOString();\n\n// SHA-256 body hash\nconst bodyHash = u8b64(sha256(s2u8(bodyJson)));\n\n// HMAC signature\nconst uri = '/' + ServiceID + '/Token';\nconst digestTarget = 'POST\\n' + bodyHash + '\\n' + timestamp + '\\n2.0\\n' + uri;\nconst signature = u8b64(hmacSha256(b64u8(SecretKey), s2u8(digestTarget)));\n\nreturn [{\n  json: {\n    // Token request info\n    tokenUrl: AuthURL + uri,\n    tokenBody: bodyJson,\n    timestamp: timestamp,\n    authorization: 'LINKHUB ' + LinkID + ' ' + signature,\n    // Pass-through data\n    apiBase: ApiBase,\n    corpNum: CorpNum,\n    matched: matched,\n    deposit: deposit,\n    // 금액 조정 정보\n    is_underpaid: isUnderpaid,\n    paid_amount: paidAmount\n  }\n}];"
      },
      "id": "pb-prepare-001",
      "name": "Popbill Prepare",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2280,
        -876
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.tokenUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-lh-date",
              "value": "={{ $json.timestamp }}"
            },
            {
              "name": "x-lh-version",
              "value": "2.0"
            },
            {
              "name": "Authorization",
              "value": "={{ $json.authorization }}"
            },
            {
              "name": "Content-Type",
              "value": "Application/json"
            },
            {
              "name": "User-Agent",
              "value": "NODEJS POPBILL SDK"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.tokenBody }}",
        "options": {}
      },
      "id": "pb-get-token-001",
      "name": "Popbill Get Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2504,
        -876
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Build cashbill object from upstream data\nconst tokenData = $json;\nconst prepare = $('Popbill Prepare').first().json;\nconst matched = prepare.matched;\nconst deposit = prepare.deposit;\nconst apiBase = prepare.apiBase;\nconst corpNum = prepare.corpNum;\n\n// Check token\nconst sessionToken = tokenData.session_token;\nif (!sessionToken) {\n  throw new Error('Popbill Token missing: ' + JSON.stringify(tokenData));\n}\n\n// 현금영수증 금액 결정:\n// - 부족 입금(underpaid): 실제 입금액으로 발행\n// - 초과 입금(overpaid): 99,000원까지만 발행 (초과분은 환불 예정)\n// - 정상 입금: 입금액 그대로\nconst CLASS_PRICE = 99000;\nconst rawAmount = Number(deposit.입금액 || '0');\nconst receiptAmount = Math.min(rawAmount, CLASS_PRICE);\n\nconst tax = Math.round(receiptAmount / 11);\nconst supply = receiptAmount - tax;\n\nconst mgtKey = 'YOGA-' + Date.now();\nconst identityNum = String(matched.연락처 || '').replace(/[^0-9]/g, '');\nconst custPhone = identityNum.startsWith('0') ? identityNum : '0' + identityNum;\n\nconst cashbill = {\n  mgtKey: mgtKey,\n  tradeType: '승인거래',\n  tradeUsage: '소득공제용',\n  taxationType: '과세',\n  tradeOpt: '일반',\n  identityNum: custPhone,\n  franchiseCorpNum: corpNum,\n  franchiseCorpName: '에니어그램 클럽',\n  franchiseCEOName: '황준성',\n  franchiseAddr: '제주도 서귀포시 서호중앙로55 유포리아 C동 319호',\n  franchiseTEL: '07079548182',\n  customerName: matched.이름 || '',\n  itemName: '데일리 요가 클래스',\n  orderNumber: mgtKey,\n  email: matched.이메일 || '',\n  hp: custPhone,\n  supplyCost: String(supply),\n  tax: String(tax),\n  serviceFee: '0',\n  totalAmount: String(receiptAmount),\n  smssendYN: false,\n  memo: rawAmount < CLASS_PRICE ? '자동발행 (부족입금 ' + rawAmount.toLocaleString() + '원)' : rawAmount > CLASS_PRICE ? '자동발행 (초과입금, 99,000원 발행)' : '자동발행'\n};\n\nreturn [{\n  json: {\n    신청일시: matched.신청일시,\n    이름: matched.이름,\n    sessionToken: sessionToken,\n    apiBase: apiBase,\n    cashbillBody: JSON.stringify(cashbill)\n  }\n}];"
      },
      "id": "pb-build-cashbill-001",
      "name": "Popbill Build Cashbill",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2728,
        -876
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.apiBase }}/Cashbill",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.sessionToken }}"
            },
            {
              "name": "X-HTTP-Method-Override",
              "value": "ISSUE"
            },
            {
              "name": "Content-Type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "User-Agent",
              "value": "NODEJS POPBILL SDK"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.cashbillBody }}",
        "options": {}
      },
      "id": "pb-issue-cashreceipt-001",
      "name": "Issue Cash Receipt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2952,
        -876
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1I-5gG-wp1EzWW0dT7xC2Rc08nIkrRa0eSo-ET6-Fkr4",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "homepage",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "신청일시": "={{ $('Popbill Build Cashbill').first().json.신청일시 }}",
            "이름": "={{ $('Popbill Build Cashbill').first().json.이름 }}",
            "현금영수증발행": "O"
          },
          "matchingColumns": [
            "신청일시",
            "이름"
          ],
          "schema": [
            {
              "id": "신청일시",
              "displayName": "신청일시",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "이름",
              "displayName": "이름",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "현금영수증발행",
              "displayName": "현금영수증발행",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "pb-update-cashreceipt-col",
      "name": "Update 현금영수증 Column",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3176,
        -876
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Dbki7l9XawU6h34B",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Nonghyup Deposit": {
      "main": [
        [
          {
            "node": "Message Parsing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message Parsing": {
      "main": [
        [
          {
            "node": "입금 확인",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "입금 확인": {
      "main": [
        [
          {
            "node": "NH Google Sheets",
            "type": "main",
            "index": 0
          },
          {
            "node": "Discord Webhook",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "NH Google Sheets": {
      "main": [
        [
          {
            "node": "Read Homepage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Homepage": {
      "main": [
        [
          {
            "node": "Deposit Matching",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deposit Matching": {
      "main": [
        [
          {
            "node": "매칭 확인",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "매칭 확인": {
      "main": [
        [
          {
            "node": "홈페이지 자동가입",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Discord No Match",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "홈페이지 자동가입": {
      "main": [
        [
          {
            "node": "Update Homepage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Homepage": {
      "main": [
        [
          {
            "node": "Prepare SMS Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare SMS Data": {
      "main": [
        [
          {
            "node": "HMAC Signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HMAC Signature": {
      "main": [
        [
          {
            "node": "Send SMS",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Popbill Prepare",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send SMS": {
      "main": [
        [
          {
            "node": "SMS 결과 확인",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SMS 결과 확인": {
      "main": [
        [
          {
            "node": "Update SMS Column",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Discord SMS Fail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "이메일 결과 확인",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "이메일 결과 확인": {
      "main": [
        [
          {
            "node": "Update Email Column",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Discord Email Fail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Popbill Prepare": {
      "main": [
        [
          {
            "node": "Popbill Get Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Popbill Get Token": {
      "main": [
        [
          {
            "node": "Popbill Build Cashbill",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Popbill Build Cashbill": {
      "main": [
        [
          {
            "node": "Issue Cash Receipt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Issue Cash Receipt": {
      "main": [
        [
          {
            "node": "Update 현금영수증 Column",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "name": "Daily YOGA Class",
  "settings": {
    "executionOrder": "v1"
  }
}